{% extends 'base.html.twig' %}

{% block titrePage %}
	Stage #{{stage.id}}
{% endblock %}

{% block contenu %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card bg-default">
				<h5 class="card-header">
					{{stage.titre}}
				</h5>
				<div class="card-body">
					<p class="card-text">
						<strong>Description des missions :</strong> <br/>
						{{stage.descMissions}}
					</p>
					<p class="card-text">	
						<strong>E-mail de contact :</strong> <br/>
						{{stage.emailContact}}
					</p>
					<p class="card-text">
						<strong>Entreprise :</strong> <br/>
						<a href="{{ path('prostages_listeStages_entreprise_nom', {nomEntreprise:stage.entreprise.nom}) }}">
							{{stage.entreprise.nom}}
						</a>
					</p>
					<p class="card-text">
						<strong>Formations :</strong> <br/>
						{% for formation in stage.formations %}
							<a href="{{ path('prostages_listeStages_formation_nomCourt', {nomCourtFormation:formation.nomCourt}) }}">
								{{formation.nomCourt}}
							</a>
							<br/>
						{% endfor %}
					</p>
				</div>
				<div class="card-footer">
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}