{% extends 'base.html.twig' %}

{% block contenu %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1><center>Stage #{{stage.getId()}}</center></h1> <HR>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card bg-default">
				<h5 class="card-header">
					{{stage.getTitre()}}
				</h5>
				<div class="card-body">
					<p class="card-text">
						<strong>Description des missions :</strong> <br/>
						{{stage.getDescMissions()}}
					</p>
					<p class="card-text">	
						<strong>E-mail de contact :</strong> <br/>
						{{stage.getEmailContact()}}
					</p>
					<p class="card-text">
						<strong>Entreprise :</strong> <br/>
						{{stage.getEntreprise().getNom()}}
					</p>
				</div>
				<div class="card-footer">
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}