{% extends 'base.html.twig' %}

{% block titrePage %}
<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <h1><center>
            {% if action == "ajouter" %} 
            Formulaire d'ajout d'une entreprise
            {% else %} 
            Formulaire de modification d'une entreprise
            {% endif %}
            </center></h1> <HR>
        </div>
    </div>
</div>
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
	    <div class="row">
            <div class="col-md-6 offset-md-3">
                    {{ form_start(vueFormulaireEntreprise, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div> <!-- Affichage du champ de saisie du nom de l'entreprise -->
                    {{form_label(vueFormulaireEntreprise.nom)}} <br/>
                    {{form_widget(vueFormulaireEntreprise.nom)}}
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'activité de l'entreprise -->
                    {{form_label(vueFormulaireEntreprise.activite)}} <br/>
                    {{form_widget(vueFormulaireEntreprise.activite)}}
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'adresse de l'entreprise -->
                    {{form_label(vueFormulaireEntreprise.adresse)}} <br/>
                    {{form_widget(vueFormulaireEntreprise.adresse)}}
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'URL du site de l'entreprise -->
                    URL du site <br/>
                    {{form_widget(vueFormulaireEntreprise.URLsite)}}
                    </div>

                    <br/>

                    <button type="submit" class="btn btn-dark">Enregistrer</button>

                    {{ form_end(vueFormulaireEntreprise) }}
            </div>
	    </div>
    </div>
{% endblock %}

