{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1><center>Formulaire d'ajout d'une entreprise</center></h1> <HR>
            </div>
        </div>

	    <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    {{ form_start(vueFormulaireEntreprise) }}

                    <div> <!-- Affichage du champ de saisie du nom de l'entreprise -->
                    {{form_label(vueFormulaireEntreprise.nom)}} <br/>
                    {{form_errors(vueFormulaireEntreprise.nom)}}
                    {{form_widget(vueFormulaireEntreprise.nom)}}
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'activité de l'entreprise -->
                    {{form_label(vueFormulaireEntreprise.activite)}} <br/>
                    {{form_errors(vueFormulaireEntreprise.activite)}}
                    {{form_widget(vueFormulaireEntreprise.activite)}}
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'adresse de l'entreprise -->
                    {{form_label(vueFormulaireEntreprise.adresse)}} <br/>
                    {{form_errors(vueFormulaireEntreprise.adresse)}}
                    {{form_widget(vueFormulaireEntreprise.adresse)}}
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'URL du site de l'entreprise -->
                    URL du site <br/>
                    {{form_errors(vueFormulaireEntreprise.URLsite)}}
                    {{form_widget(vueFormulaireEntreprise.URLsite)}}
                    </div>

                    <br/>

                    <button type="submit" class="btn btn-dark">Enregistrer</button>

                    {{ form_end(vueFormulaireEntreprise) }}
                </div>
            </div>
	    </div>
    </div>
{% endblock %}

