{% extends 'base.html.twig' %}

{% block titrePage %}
<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <h1><center>
            {% if action == "ajouter" %} 
            Formulaire d'ajout d'une entreprise
            {% else %} 
            Formulaire de modification d'une entreprise
            {% endif %}
            </center></h1> <HR>
        </div>
    </div>
</div>
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
	    <div class="row">
            <div class="col-md-6 offset-md-3">
                    {{ form_start(vueFormulaireEntreprise) }}

                    <div> <!-- Affichage du champ de saisie du nom de l'entreprise -->
                        {{form_row(vueFormulaireEntreprise.nom, {'attr': {'placeholder': "Nom de l'entreprise..."}}) }} <br/>
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'activité de l'entreprise -->
                        {{form_row(vueFormulaireEntreprise.activite, {'attr': {'placeholder': "Activité de l'entreprise..."}}) }} <br/>
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'adresse de l'entreprise -->
                        {{form_row(vueFormulaireEntreprise.adresse, {'attr': {'placeholder': "Adresse de l'entreprise..."}}) }} <br/>
                    </div>

                    <div> <!-- Affichage du champ de saisie de l'URL du site de l'entreprise -->
                        {{form_row(vueFormulaireEntreprise.URLsite, {'label': "URL du site", 'attr': {'placeholder': "URL du site web de l'entreprise..."}}) }}
                    </div>

                    <br/>

                    <button type="submit" class="btn btn-dark">Enregistrer</button>

                    {{ form_end(vueFormulaireEntreprise) }}
            </div>
	    </div>
    </div>
{% endblock %}

