<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<!-- BLOCK DES FEUILLES DE STYLE -->
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
		{% endblock %}     

		
    </head>
    <body>
		
	
		
		<!-- BLOCK DU TITRE -->
		{% block titre %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<a href="{{ path('prostages_accueil') }}"><img src="{{ asset('/img/logo_prostages.png') }}"></a>
					</div>
				</div>
			</div>
		{% endblock %}
		
		
		<!-- BLOCK DU MENU -->
		{%block menu %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="d-grid gap-2 d-md-block">
							<a href="{{path('prostages_formations')}}">Trier par formation</a>
							<a href="{{path('prostages_entreprises')}}">Trier par entreprise</a>
							<a href="{{path('prostages_formulaireAjoutEntreprise')}}">Ajouter une entreprise</a>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		
		
		<!-- BLOCK DU CONTENU -->
        {% block contenu %}
		{% endblock %}
		
		
		<!-- BLOCK DU PIED DE PAGE -->
		{% block footer %}
		{% endblock %}
		
		
		<!-- BLOCK DES SCRIPTS JAVASCRIPT -->
		{% block javascripts %}
			<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"> </script>
		{% endblock %}
    </body>
</html>
