<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		<!-- BLOCK DES FEUILLES DE STYLE -->
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/bootstrap/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('/css/prostages/prostages.css') }}">
		{% endblock %}     

		
    </head>
    <body>
		
	
		
		<!-- BLOCK DU TITRE -->
		{% block titre %}
			<div class="container-fluid">
				<div class="row d-flex align-items-center">
					<div class="col-md-6">
						<a href="{{ path('prostages_accueil') }}"><img src="{{ asset('/img/logo_prostages.png') }}"></a>
					</div>
					<div class="col-md-6">
						<div class="d-flex align-items-center justify-content-end">
							{% if is_granted('ROLE_USER') %}
								<div>
									{{ app.user.prenom }} {{ app.user.nom }}
								</div>
								<a class="btn btn-danger bg-rougeClair" href="{{ path('app_logout') }}">
									Déconnexion
								</a>
							{% else %}
								<a class="btn btn-danger bg-rougeClair" href="{{ path('app_inscription') }}">
									Inscription
								</a>
								&nbsp;
								<a class="btn btn-danger bg-rougeClair" href="{{ path('app_login') }}">
									Connexion
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		
		
		<!-- BLOCK DU MENU -->
		{%block menu %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="d-grid gap-2 d-md-block">
							<div class="btn-group d-flex" role="group">
								<a class="btn btn-danger bg-rougeClair w-100" href="{{path('prostages_formations')}}">Trier par formation</a>
								<a class="btn btn-danger bg-rougeClair w-100" href="{{path('prostages_entreprises')}}">Trier par entreprise</a>
								<a class="btn btn-danger bg-rougeClair w-100" href="{{path('prostages_formulaireAjoutEntreprise')}}">Ajouter une entreprise</a>
								<a class="btn btn-danger bg-rougeClair w-100" href="{{path('prostages_formulaireAjoutStage')}}">Ajouter un stage</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="btn btn-danger bg-rougeClair w-100" href="{{path('formation_index')}}">Gérer les formations</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		
		
		<!-- BLOCK DU TITRE DE LA PAGE -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1><center>{% block titrePage %}{% endblock %}</center></h1> 
                    <HR>
                </div>
            </div>
        </div>

		<!-- BLOCK DU CONTENU -->
        {% block contenu %}
		{% endblock %}
		
		
		<!-- BLOCK DU PIED DE PAGE -->
		{% block footer %}
		{% endblock %}
		
		
		<!-- BLOCK DES SCRIPTS JAVASCRIPT -->
		{% block javascripts %}
			<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"> </script>
		{% endblock %}
    </body>
</html>
